*{
    margin: 0;
    
}
:root{
    --height-full: 100vh


}

html{
    scroll-behavior: smooth;
}

.hero {
    height: var(--height-full);
    background-image: url(../images/motos/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.box {
    height: var(--height-full);
}
